@import "tailwindcss";

/* 
@theme inline - for fonts only. This tells Tailwind the font variables come from an external source (Next.js injects them at runtime onto <html>, 
so don't generate a hardcoded value, just reference the variable.

@theme is for everything else. Tailwind owns these values directly.
Mixing them up won't break things immediately but fonts especially need inline or they wont' resolve correctly from Next.js's injection system.
*/

@theme inline {
  --font-sans: var(--font-roboto);
  --font-geist-sans: var(--font-geist-sans);
  --font-p-n-montreal: var(--font-p-n-montreal);
}

@theme {
  /* Easing */
  --ease-nav: cubic-bezier(0.16, 1, 0.3, 1);
}

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}

body {
  background: var(--background);
}

body::-webkit-scrollbar {
  display: none;
}
